@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --purple: #BC8CF2;
    --black: #000000;
    --white: #F7F5F2;
    --grey: #DFDFDE;
}
body{
    background-color: var(--black);
}


/* ---------- Global-classes -------------- */
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
    height: auto;
    padding: 2rem 5%;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    padding: 25px 20px;
}
.title h2{
    color: var(--purple);
    text-align: center;
    font-size: 3.5rem;
}
.title h2 span{
    position: relative;
    color: #F7F5F2;
    z-index: 50;
}
.title h2 span::before{
    content: '';
    position: absolute;
    width: 80%;
    height: 3px;
    top: 50px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #BC8CF2;
    z-index: 50;

}
/* ---------- /Global-classes -------------- */

/* ---------- Navbar-style -------------- */
header{
    position: fixed;
    background-color:#000000;
    z-index: 1000000;
}
header.sticky{
    background-color: rgba(0,0,0,0.8);
    border-bottom: 1px solid var(--grey);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 30px;
    color: var(--purple);
}
.nav-menu{
    display: flex;
    gap: 15px;
}
.nav-menu a{
    font-size: 1.8rem;
    color: #fff;
    transition: 0.3s ease;
}
.nav-menu a:hover{
    color: var(--purple);
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger .line{
    display: block;
    width: 35px;
    height: 3px;
    margin: 6px;
    background-color: var(--grey);
    transition: 0.3s ease;
}
/* ---------- /Navbar-style -------------- */

/* ---------- Hero-style -------------- */
.hero{
    position: relative;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    position: relative;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
}
.heroLeft h2{
    font-size: 2.5rem;
    color: var(--purple);
    padding-bottom: 10px;
}
.heroLeft h1{
    font-size: 3.5rem;
    color: var(--white);
    padding-bottom: 10px;
}
#typed{
    color: var(--purple);
}
.typed-cursor{
    color: var(--purple);
}
.heroLeft p{
    font-size: 1.6rem;
    color: var(--white);
    padding-bottom: 10px;
    line-height: 1.6;
    padding-bottom: 30px;
}
.hero-img img{
    height: 40rem;
    width: 40rem;
    border-radius: 50% 50% 50% 50% / 30% 30% 70% 70%;
    object-fit: cover;
    z-index: 50;
    position: relative;
}
.hero-btn{
    padding: 12px 20px;
    border: 2px solid var(--purple);
    color: var(--purple);
    font-size: 1.8rem;
    font-weight: 400;
    transition: 0.3s ease;
}
.hero-btn:hover{
    color: var(--white);
    background-color: var(--purple);
}
.hero-btn i{
    padding-left: 5px;
}
/* ---------- /Hero-style -------------- */

/* ---------- About-style -------------- */
.about{
    padding-top: 50px;
}
.about-container{
    display: flex;
    justify-content: center;
}
.about-img{
    width: 32rem;
    height: auto;
    border: 10px solid var(--purple);
}
.aboutBoxRight{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.about-info { 
    padding: 0 20px;
}
.about-info h2{
    font-size: 3rem;
    color: var(--white);
    padding-bottom: 10px;
}
.about-info p{
    font-size: 1.6rem;
    color: var(--grey);
    line-height: 1.6;
}
.about-content{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    gap: 30px;
}
.aboutL ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aboutL li{
    font-size: 1.6rem;
    color: var(--grey);
}
.aboutL li span{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}
.about-btn{
    margin-top: 15px;
    width: 140px;
    height: 40px;
    color: #BC8CF2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border: 1px solid var(--purple);
}
.aboutR{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
}
.aboutLeft-item{
    width: 180px;
    height: 150px;
    background-color: #222;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.num{
    font-size: 4rem;
    color: var(--purple);
}
.aboutLeft-item p{
    color: var(--white);
    font-size: 1.6rem;
    text-align: center;
    padding: 0px 15px;
}
/* ---------- /About-style -------------- */

/* ---------- skill-style -------------- */
.skill{
    padding-top: 50px;
}
.skill-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
.skill-info{
    margin-bottom: 25px;
}
.skill-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skill-content span{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white);
}
.bar{
    margin-top: 10px;
    border: 1px solid ;
    background-color: #222;
    border-radius: 20px;
}
.bar div{
    height: 8px;
    width: 0;
    background-color: #BC8CF2;
    border-radius: 20px;
}
#html-bar{
    animation: 4s html-fill ease forwards;
}
#css-bar{
    animation: 4s css-fill ease forwards;
}
#js-bar{
    animation: 4s js-fill ease forwards;
}
#jquery-bar{
    animation: 4s jq-fill ease forwards;
}
#boots-bar{
    animation: 4s boots-fill ease forwards;
}
#php-bar{
    animation: 4s php-fill ease forwards;
}
@keyframes html-fill {
    100%{
        width: 95%;
    }
    
}
@keyframes css-fill {
    100%{
        width: 90%;
    }
    
}
@keyframes js-fill {
    100%{
        width: 85%;
    }
    
}
@keyframes jq-fill {
    100%{
        width: 75%;
    }
    
}
@keyframes boots-fill {
    100%{
        width: 65%;
    }
    
}
@keyframes php-fill {
    100%{
        width: 60%;
    } 
}
/* ---------- /skill-style -------------- */

/* ---------- qualification-style -------------- */
.experience{
    width: 100%;
    height: auto;
}
.experience-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 100px;
}
.experience-item{
    position: relative;
    width: 100%;
    height: auto;
    border-left: 2px solid var(--purple);
    margin-left: 25px;
}
.experience-item i{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--white);
    background-color: #BC8CF2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25px;
}
.experience-content{
    padding-top: 20px;
    position: relative;
    margin-left: 40px;
}
.experience-content span{
    color: var(--grey);
    font-size: 1.6rem;
    padding: 10px 10px;
    background-color: #222;
    border-radius: 20px;
}
.experience-content h3{
    font-size: 2rem;
    color: var(--white);
    padding-top: 20px;
}
.experience-content p{
    font-size: 1.6rem;
    color: var(--grey);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    line-height: 1.6;
}
/* ---------- /qualification-style -------------- */

/* ---------- service-style -------------- */
.service{
    padding-top: 50px;
}
.service-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.serviceBox{
    flex: 1 1 33rem;
    background-color: var(--black);
    padding: 4rem 3rem;
    text-align: center;
    border: 0.1rem solid rgba(255,255, 255, 0.3);
    border-radius: 0.5rem;
    transition: all 0.5s linear;
}
.serviceBox:hover{
    background-color: var(--purple);
}
.service-icon{
    padding-bottom: 10px;
}
.service-icon h3{
    font-size: 2rem;
    color: var(--white);
}
.service-icon i{
    font-size: 4rem;
    color: var(--white);
    padding-bottom: 15px;
}
.serviceBox p{
    color: var(--grey);
    font-size: 1.6rem;
    line-height: 1.6;
}
/* ---------- /service-style -------------- */

/* ---------- portfolio-style -------------- */
.porfolio{
    width: 100%;
    height: auto;
    padding-top: 80px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.gallery-filter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
}
.filter-item{
    font-size: 1.8rem;
    color: var(--purple);
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid var(--purple);
    cursor: pointer;
}
.filter-item.active{
    background-color: var(--purple);
    color: var(--white);
}
.gallery-item{
    width: calc(100%/3);
    padding: 10px;
    animation: 2s fade-out linear;
}
@keyframes fade-out {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
    
}
.gallery-item.hide{
    display: none;
}
/* ---------- /portfolio-style -------------- */

/* ---------- Testimonial-style -------------- */
.testi{
    padding-top: 50px;
}
.carousel{
    padding: 0 10px;
}
.card{
    border: 1px solid #fff;
    padding: 40px 20px;
}
.card:hover{
    border: 1px solid var(--purple);
}
.card img{
    width: 100px !important;
    margin: auto;
    height: 100px;
    border-radius: 50%;
}
.card i{
    color: var(--white);
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    font-size: 3rem;
}
.card p{
    font-size: 1.6rem;
    color: var(--grey);
    text-align: center;
    padding-top: 20px;
    line-height: 1.6;
}
.card h2{
    padding-top: 15px;
    color: var(--white);
    font-size: 1.8rem;
    text-align: center;
}
.card h3{
    padding-top: 10px;
    color: var(--purple);
    font-size: 1.6rem;
    text-align: center;
}
.owl-dots{
    text-align: center;
    margin-top: 40px;
}
.owl-dot{
    height: 10px;
    width: 10px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    transition: all 0.3s;
    background-color: #222 !important;
}
.owl-dot:hover{
    background: #0072bc !important;
}
.owl-dot.active{
    width: 20px;
    background: var(--purple) !important;
}
/* ---------- /Testimonial-style -------------- */

/* ---------- Blog-style -------------- */
.blog{
    width: 100%;
    height: auto;
    padding-top: 50px;
}
.blog-img{
    width: 100%;
    height: 250px;
}
.blog-item{
    background-color: #222;
}
.blog-info{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--white);
    width: 95%;
    margin: auto;
}
.blog-info p{
    color: var(--grey);
    font-size: 1.4rem;
    font-weight: 600;
}
.blog-info i{
    color: var(--purple);
}
.blog-content{
    padding-top: 20px;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}
.blog-content h3{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 10px;
}
.blog-content p{
    color: var(--grey);
    font-size: 1.6rem;
    padding-bottom: 10px;
    line-height: 1.5;
}
.blog-btn{
    padding: 10px 20px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--purple);
    border: 1px solid var(--purple);
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}
.blog-btn:hover{
    background-color: var(--purple);
    color: var(--white);
}
.blog-btn i{
    margin-left: 10px;
}
/* ---------- /Blog-style -------------- */

/* ---------- contact-style -------------- */
.contact{
    padding-top: 50px;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contactLeft{
    color: #fff;
}
.con-title{
    padding-bottom: 10px;
}
.con-title h3{
    font-size: 2.8rem;
    padding-bottom: 5px;
}
.con-title p{
    font-size: 1.6rem;
    padding-bottom: 5px;
    color: var(--grey);
}
.contact-address{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info span{
    font-size: 1.8rem;
    font-weight: 500;
}
.contact-info ul li{
    font-size: 1.6rem;
    color: var(--grey);
}
.contact-info ul li i{
    color: var(--purple);
    margin-right: 5px;
}
.contactRight form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contactRight form input{
    padding: 15px;
    background-color: #222;
    color: #fff;
    border: none;
}
.contactRight form textarea{
    background-color: #222;
    color: #fff;
    border: none;
    padding: 15px;
    resize: none;
}
.contactRight form input::placeholder,
.contactRight form textarea::placeholder{
    font-size: 1.6rem;
    color: var(--white);
}
.contact-btn{
    margin-top: 10px;
    width: 150px;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--purple);
    padding: 10px;
    background-color: #000000;
    border: 1px solid var(--purple);
    transition: 0.3s ease;
}
.contact-btn:hover{
    background-color: var(--purple);
    color: var(--white);
}
/* ---------- /contact-style -------------- */

/* ---------- Footer-style -------------- */
footer{
    position: relative;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
}
.foot-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}
.foot-icon ul{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.foot-icon ul li{
    height: 40px;
    width: 40px;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.foot-icon ul li i{
    color: var(--white);
    font-size: 1.8rem;
}
.foot-info p{
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
}
.foot-info p span{
    color: var(--black);
}
#myBtn{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    font-size: 2em;
    color:  #fff;
    background-color: #000000;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    display: none;
}
#myBtn:hover{
    background-color: #F7F5F2;
    color: #000;
}
/* ---------- /Footer-style -------------- */