@media (max-width:992px){
    .wrapper{
        padding: 30px 3%;
    }
    
}
@media (max-width:768px){
    header.sticky{
        background-color: var(--black);
        z-index: 1000;
    }
    .wrapper{
        padding: 20px 2%;
    }
    .nav-menu{
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        flex-direction: column;
        background-color: #222;
        padding: 30px 2%;
        z-index: 100;
    }
    .nav-menu.active{
        left: 0;
    }
    .change.active .line:nth-child(1){
        transform: translate(0,9px) rotate(45deg);
    }
    .change.active .line:nth-child(2){
        background-color: transparent;
    }
    .change.active .line:nth-child(3){
        transform: translate(0,-9px) rotate(-45deg);
    }
    .hamburger{
        display: block;
    }
    .skill-container{
        grid-template-columns: repeat(1,1fr); 
        grid-gap: 0;
    }
    .contact-container{
        grid-template-columns: repeat(1,1fr);
        row-gap: 25px;
    }

}
@media (max-width:568px){

}