@media (max-width:992px) {
    .wrapper {
        padding: 30px 3%;
    }
    .aboutLeft-item {
        width: 150px;
        height: 150px;
    }
    .experience-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 50px;
    }

}

@media (max-width:768px) {
    header.sticky {
        background-color: var(--black);
        z-index: 1000;
    }

    .wrapper {
        padding: 20px 2%;
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        background-color: var(--grey);
        padding: 30px 5%;
        z-index: 100;
        transition: 0.5s ease;
    }
    .nav-menu a{
        color: #000;
    }

    .nav-menu.active {
        right: 0%;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(9px) rotate(225deg);
    }
    .hamburger.active .line:nth-child(2){
        background-color: transparent;
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-9px) rotate(-225deg);
    }
    .hamburger {
        display: block;
    }

    .hero-container {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .hero-img img{
        width: 100%;
        height: 100%;
    }
    .skill-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .contact-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .about-img {
        margin: auto;
    }

    .aboutLeft-item {
        width: 120px;
        height: 120px;
    }

    .num {
        font-size: 3rem;
        color: var(--purple);
    }
}
@media (max-width:568px) {
    .wrapper {
        padding: 10px 2%;
    }
    .nav-menu a {
        font-size: 1.6rem;
    }
    .nav-menu {
        top: 50px;
    }
    
}
@media (max-width:380px) {
    .logo a {
        font-size: 2rem;
    }
    .nav-menu a {
        font-size: 1.4rem;
    }
    .hero-container{
        padding-top: 50px;
    }
    .heroLeft h1{
        font-size: 3rem;
        padding-bottom: 20px;
    }
    .heroLeft p {
        font-size: 1.4rem;
    }
    .hero-btn {
        font-size: 1.6rem;
    }
    .heroLeft h2 {
        font-size: 2rem;
    }
}