@media (max-width:992px) {
    .wrapper {
        padding: 30px 3%;
    }
    .aboutLeft-item {
        width: 150px;
        height: 150px;
    }
    .experience-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 50px;
    }

}

@media (max-width:768px) {
    header.sticky {
        background-color: var(--black);
        z-index: 1000;
    }

    .wrapper {
        padding: 20px 2%;
    }

    .nav-menu {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 50%;
        height: 100vh;
        flex-direction: column;
        background-color: var(--grey);
        padding: 30px 5%;
        z-index: 100;
        transition: 0.5s ease;
    }
    .nav-menu a{
        color: #000;
    }

    .nav-menu.active {
        right: 0%;
    }
    .hamburger.active .line:nth-child(1){
        transform: translateY(9px) rotate(225deg);
    }
    .hamburger.active .line:nth-child(2){
        background-color: transparent;
    }
    .hamburger.active .line:nth-child(3){
        transform: translateY(-9px) rotate(-225deg);
    }
    .hamburger {
        display: block;
    }

    .hero-container {
        grid-template-columns: 1fr;
        grid-gap: 50px;
    }
    .hero-img img{
        width: 100%;
        height: 100%;
    }
    .skill-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0;
    }

    .contact-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }

    .about-container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .about-img {
        margin: auto;
    }

    .aboutLeft-item {
        width: 120px;
        height: 120px;
    }
    .about-info {
        padding: 0 10px;
    }
    .about-content {
        padding: 0px 10px;
    }
    .num {
        font-size: 3rem;
        color: var(--purple);
    }
    .gallery-item{
        width: calc(100%/2);
    }
}
@media (max-width:568px) {
    .wrapper {
        padding: 10px 2%;
    }
    .nav-menu a {
        font-size: 1.6rem;
    }
    .nav-menu {
        top: 50px;
    }
    .hamburger .line{
        width: 30px;
    }
    .about-info h2 {
        font-size: 2.5rem;
    }
    .about-info p {
        font-size: 1.4rem;
    }
    .num {
        font-size: 2.5rem;
    }
    .aboutLeft-item p {
        font-size: 1.4rem;
    }
    .experience-content p {
        font-size: 1.4rem;
    }
    .experience-content h3 {
        font-size: 1.8rem;
    }
    .experience-content span {
        font-size: 1.4rem;
    }
    .experience-content p{
        padding-right: 20px;
    }
    .title h2 {
        font-size: 3rem;
    }
    .service-icon i {
        font-size: 3.5rem;
    }
    .service-icon h3 {
        font-size: 1.8rem;
    }
    .serviceBox p {
        font-size: 1.4rem;
    }
    .carousel {
        padding: 0 0px;
    }
    .card p{
        font-size: 1.4rem;
    }
    .card h2{
        font-size: 1.6rem;
    }
    .blog-content h3 {
        font-size: 1.6rem;
    }   
    .blog-content p {
        font-size: 1.4rem;
    }   
    .blog-btn{
        font-size: 1.4rem;
    }
    .blog-btn i{
        font-size: 1.4rem;
        margin-left: 5px;
    }
    #myBtn {
        bottom: 20px;
    }
    .foot-info p {
        font-size: 1.8rem;
    }
    .contact {
        padding-bottom: 30px;
    }
    .con-title h3 {
        font-size: 2.5rem;
    }
    .con-title p {
        font-size: 1.4rem;
    }
    .contact-info span {
        font-size: 1.6rem;
    }
    .contact-info ul li {
        font-size: 1.4rem;
    }
    .contactRight form input::placeholder {
        font-size: 1.4rem;
    }
    .contact-btn {
        font-size: 1.4rem;
    }
    .foot-icon ul {
        gap: 10px;
    }
    .gallery-item{
        width: calc(100%/1);
        padding: 0px;
        padding-bottom: 10px;
    }
    .filter-item{
        font-size: 1.6rem;
    }
}
@media (max-width:380px) {
    .logo a {
        font-size: 2rem;
    }
    .nav-menu a {
        font-size: 1.4rem;
    }
    .hero-container{
        padding-top: 50px;
    }
    .heroLeft h1{
        font-size: 3rem;
        padding-bottom: 20px;
    }
    .heroLeft p {
        font-size: 1.4rem;
    }
    .hero-btn {
        font-size: 1.6rem;
    }
    .heroLeft h2 {
        font-size: 2rem;
    }
    .about {
        padding-top: 100px;
    }
    .skill-content span {
        font-size: 1.4rem;
        font-weight: 500;
        color: var(--white);
    }
    .filter-item{
        font-size: 1.4rem;
    }
    #myBtn {
        bottom: 10px;
        right: 10px;
    }
    .foot-info p {
        font-size: 1.6rem;
    }
    .foot-info p {
        font-size: 1.6rem;
        line-height: 1.5;
        width: 78%;
        margin: auto;
    }
}